@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');

.centered {
    width: 80%;
    margin: 0 auto;
}

/* NAVBAR*/

.topnav {
    background-color: #34A1EA;
    overflow: hidden;
    border-radius: 15px;
}

.topnav a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: white;
    color: black;
}


.topnav a.active {
    background-color: #DDDDDD;
}

.der {
    float: right;
}

.izq {
    float: left;
}

/* FOOTER */

.footer {
    text-align: center;
}

.footer a:link, .link {
    color:#34A1EA;
}

.footer a:visited, .link:visited {
    color:black;
}

/* LOGINSIGNUP */

html {
    font-family: 'Open Sans', sans-serif;
}

.titulo {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 0%;
}

.subtitulo {
    text-align: center;
    margin-top: 0%;
    letter-spacing: 1px;
}

.logologin {
    max-width: 500px;
    max-height: 500px;
    border-radius: 15px;
    float: left;
    width: 50%;
    display: block;
    box-sizing: border-box;
    margin: 0% 10% 0% 10%;
}

.login {
    width: 35%;
    display: block;
    box-sizing: border-box;
    border-radius: 15px;
    height: 285px;
    border-color: #34A1EA;
}

.botoningreso {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    border-color: #34A1EA;
    min-width: 300px;
    border-radius: 5px;
    margin-top: 50px;
    background-color: #DDDDDD;
}

.botoningreso:hover {
    background-color: #ddd;
}


#terminos {
    display: inline-block;
    width: auto;
    vertical-align: auto;
}

.inputcred{
    display: block;
    border-radius: 5px;
    height: 1.5em;
    width: 400px;
}

.ch {
    font-size: 0.1rem;
}


.bold {
    font-weight: 600;
    font-size: 1.2rem;
}


.divisor {
    border-bottom: 2px solid #34A1EA;
    margin: 2px 0;
    clear: right;
    margin: 5% 5%;
}

.registro {
    margin: auto;
    width: 30%;
    display: block;
    box-sizing: border-box;
    border-radius: 15px;
    border-color: #34A1EA;
}

/* Dashboard */

.sugerencia {
    max-width: 25%;
    border-radius: 15px;
    display: inline-block;
    box-sizing: border-box;
    margin: 0 75px 0 150px;
    border-color: #34A1EA;

}

.fotosugerencia{
    width: 100%;
    max-width: 50%;
    max-height: 50%;
    object-fit: cover;
    margin: auto;
    display: block;
    border-radius: 15px;
}

.botonwhatsapp {
    background-color: #009018;
    border: 1px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
    margin: auto;
}

.datossugerencia:first-of-type {
    margin: 10% 0% 0% 5%;
    display: block;
}

.datossugerencia {
    margin: 5% 0% 0% 5%;
    display: block;
}

.datossugerencia:last-of-type {
    margin: 5% 0% 10% 5%;
    display: block;
}

.iconossugerencia {
    margin: auto 20px;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    object-fit: cover;
}



.recomendaciones{
    padding: 0 auto 0 75px;
    width: 50%;
    border-width: 0px;
    display: inline;
    vertical-align: top;
}

.recomendacion {
    border-radius: 15px;
    display: block;
    width: 50%;
    margin: 20px 10px;
    background-color: #DDDDDD;
    border-color: #34A1EA;
}



.botonllamada {
    background-color: #34A1EA;
    border: 1px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 0px 2px;
    cursor: pointer;
    border-radius: 15px;
    margin: auto;
}

.fotorecomendacion {
    width: 40%;
    max-width: 60%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}


/* CONTACTOS */

.navabc {
    background-color: #34A1EA;
    overflow: hidden;
    width: 75%;
    margin: 20px auto;
    border-radius: 10px;
}

.navabc a:not(.agregar){
    color: black;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 14px;
    border-width: 2px;
    display: inline;
    float: left;
}

.navabc a:first-of-type {
    margin-left: 10px;
}

.navabc a:hover {
    background-color: #ddd;
    color: black;
}


.navabc a.active {
    background-color: lightgray;
}

.outcontactos {
    display: block;
    width: 80%;
    margin: 20px auto;
    border-radius: 15px;
    padding: 10px 20px;
}

.datospersona {
    display: block;
}

.personalista:first-of-type {
    margin-top:4%;
}

.personalista:last-of-type {
    margin-bottom:4%;
}

.agregar {
    display: inline;
    float: right;
    margin: 3px 10px;
    color: black;
    font-size: 1.1rem;
}

/* Agregar Usuario */

.fieldagregarusuario {
    width: max-content;
    border-radius: 15px;
    margin: 0 auto;
}

.leyendainputcontacto {
    display: block;
    margin: 30px 30px 0 30px;
}

.inputcontacto {
    display: block;
    border-radius: 5px;
    height: 1.5em;
    width: 400px;
    margin: 0 30px 0 30px;
}

.fotoagragarcontacto {
    display: block;
    margin: 30px auto 0 auto;
}

/* ACTIVIDADES */

.agregaractividad{
    display: block;
    border-radius: 15px;
}

.mincontent {
    width: max-content;
    border-radius: 15px;
    margin: 0 85%;
}

.burbujarecomendacion {
    border-radius: 15px;
    display: block;
    width: 70%;
    margin: 20px 10px;
    background-color: #DDDDDD;
    border-color: #34A1EA;
    margin: 30px auto;
}

/* Modificar */

.modificarboton{
    background-color: #34A1EA;
    color: white;
    border-radius: 15px;
    display: block;
    float: right;
    width:max-content;
    height: 30px;
}

.modificarboton:hover {
    background-color: white;
    color: black;
}

.eliminarboton{
    background-color: red;
    color: white;
    border-radius: 15px;
    display: block;
    float: right;
    margin: 0 5px 10px auto;
    width:max-content;
    height: 30px;
}

.eliminarboton:hover {
    background-color: white;
    color: black;
}

.error{
	background-color: rgb(255,0,0,0.5);
}
.correcto{
	background-color: rgb(0,255,0,0.5);
}
